.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideber-link{
  color: black;
    font-weight: 500;
    text-decoration: none;
}

.deleted-row-bg {
  background: #f78699;
}
.food-box {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.food-box:hover {
  transform: scale(1.05);
}

.food-image {
  max-height: 150px;
  margin-bottom: 10px;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search-box {

}

.header-menu {
  justify-content: end;
}